 body {

    text-align: right;
}

 .o_livechat_button {

     background-color:#de0b14 !important;
      position: fixed;
    bottom: 2px;
    right: 92%;

 }



 .te_ribbon-wrapper .label_div {
    position: absolute;
    top:97% !important;
    left: 0px;

 }

 .te_product_breadcrumb .breadcrumb {
      text-align: right !important;
 }




 @font-face {
  font-family: helvetica;
  src: url(/updat_to_arabic_theme/static/src/font/helvetica-neue-lt-arabic-75-bold.ttf);
}

@font-face {
  font-family: helvetica;
  src: url(/updat_to_arabic_theme/static/src/font/helvetica-neue-lt-arabic-75-bold.ttf);
  font-weight: bold;
}

#map{
display:none;
}


* {
   font-family: helvetica;

}

.my_cart_quantity{
margin-right:17px;
}


#fixed_img{
position:absolute;
right:35px;
top:1px;
width:150px;
height:150px;
background:white;
z-index:7;
border-bottom:1px solid red;
}

.empty{
position:absolute;
right:0px;
top:1px;
width:100%;
height:150px;
background:white;
z-index:-1;
border-bottom:1px solid red;
}

.search_nav{
position:absolute;
right:200px;
top:2px;
width:100%;
background:white;

}
.navbar-expand-md{
background:black;
height:155px;

}

#top_menu{
position:absolute;
right:170px;
top:90px;
width:100%;
background:white;

}


.te_ftr_before_bg{
height:38px;
}

#o_shop_collapse_category .nav-item a {
    color: black;
}

.collapse:not(.show) {

    margin-left:80px;
}

.price_slider_filter{
 text-align: center;
}

.product_share a{
width:50px !important;
height:50px !important;
text-align:center;
}

.header_rating h1,
.header_rating hr,
.header_rating p,
.header_rating table,
.header_rating .o_portal_chatter_composer,
.header_rating .o_portal_chatter_messages,
.header_rating .o_message_counter
{
display:none;

}
.ribbon-red span{
margin-right: -1px !important;
}