 body {

    text-align: right;
}

 .o_livechat_button {

     background-color:#de0b14 !important;
 }

 .te_ribbon-wrapper .label_div {
    position: absolute;
    top:97% !important;
    left: 0px;

 }

