/*========================== Footer Style 3 ==========================*/
/*----------- Company Logo -------------*/
.te_footer_logo_title_socialicon
{
	background: darken(color('footer'), 5%);
	color: $footer_text_color;
}
	.te_footer_logo
	{
		padding:0;
		img
		{
		    height: $o-theme-navbar-logo-height;
			@include media-breakpoint-down(sm) {
                height: auto;
                max-height: min($o-theme-navbar-logo-height, 5rem);
            }
		}
	}
.te_company_content {
    color:nth($f_color,28);
}
/*---------- Multiple Language Selected ---------*/	
.te_footer_language
{
	span
	{
		ul
		{
			li				
			{
				.btn-secondary 
				{
					    background-color: nth($f_color,27);
					    font-size:nth($f_sizes,2);
					    color: inherit;
				}		
			a
			{
			  font-size:nth($f_sizes,2);
			  color: inherit;	
			  	&:hover{
					color:nth($f_color,19);
				}
				&:active {
                    color: nth($f_color,19);
				    background-color: nth($f_color,28);
				}
			}
			}	
		}
	}
 }
 /*--------- Social Icon ----------*/
.te_footer_social_icon
{
	>a
	{
		@include style(2,5,null,1.75rem);
		background-color: nth($f_color,25);
		width: 35px;
		height: 35px;
		text-align: center;
		@include border-radius(50%)
		margin-right: 8px;
		margin-bottom: 8px;
		padding:0;
			span
			{
				display:inline-block;
				padding: 0.625rem 0.3125rem;
			}
		&:hover
		{
			background-color: nth($f_color,25);
		}
		@include media-breakpoint-down(sm) {
		    margin-right: 3px;
		}
	}
}
/*-------- Static Menu -----------*/
.te_footer_info_ept 
{
		margin: 0;
		padding: 0;
	
		 li
		  {
			font-size:nth($f_sizes,3);
			padding: 10px 0;
			list-style-type: none;
			@include transition(padding,.5s,ease,0s)
			cursor: pointer;
			&:hover
			{
				color: nth($f_color,19);
				padding-left: 10px;
			}
			a{
				color: $footer_text_color;
				display: block;
			}
	   }	
}
/*---------- Contact Info ----------*/
.te_footer_info_text 
	{
		margin: 0;
		padding: 0;
		.te_footer_title_text
		{
			@include style(2,3,inherit,null,uppercase);
			list-style-type: none;
			margin-top:25px;
		}
		.te_ftr_add_info
		{
			list-style-type: none;	
			padding-top: 12px;
			color: $footer_text_color;
			a{
			     color: inherit;
                 > span {
                    color: $footer_text_color;
                 }
			}
			.te_footer_social_icon {
			    > a {
			        color: nth($f_color,5);
			    }
			}
		}
		.te_ftr_text_style
		{
			font-size:nth($f_sizes,3);
			@include spacing(null,0.125rem);
			width: calc(100% - 24px);
			>span
        	{
        	    padding-right: 0.22rem;
		    }
		}
		.te_footer_add_tel_email_text_ept
		{
			display: inline-block;
			vertical-align: top;
			padding-right: 5px;
		}	
	}
.te_footer_menu_info
{
		font-size:nth($f_sizes,2);
		color: $footer_text_color;
		list-style-type: none;
}
@include media-breakpoint-down(sm)
{	
	.te_contact_info_s
	{
		padding-top: 6px !important;
		padding-bottom: 0px !important;	
	}
}
/*---------- Copyright And Payment Image ----------*/
.te_copyright_add_language
{
    color: $footer_text_color;
	@include media-breakpoint-down(md) {
		text-align:right;
		font-size:nth($f_sizes,3);
		margin-bottom: 8px;
		margin-top: 8px;
		}
		@include media-breakpoint-down(sm) {
		text-align:left;
	}
}
.te_footer_payment_img
{
	text-align:right;
	
	@include media-breakpoint-down(sm) {
		text-align:left;
	}
}
@include media-breakpoint-down(sm) {
	.te_end_ftr_container
	{
		width: 90%;
		padding: 0;
	}
}
.te_footer_map
{
	max-width: 340px;
	max-height: 280px;
	overflow: hidden;
	margin-bottom: 10px;
	#map {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	.mapouter
	{
		height: 290px;
		max-width: 340px;
		max-height: 280px;
		padding:5px;
		width:auto;
	}
	@media (min-width: 992px) and (max-width: 1100px)
	{
		max-width: 250px;
		.mapouter
		{
			max-width: 250px;
		}
	}
	@media (min-width: 1100px) and (max-width: 1300px)
	{
		max-width: 282px;
		.mapouter
		{
			max-width: 282px;
		}
	}
	@media (min-width: 1500px)
	{
		max-width: 400px;
		.mapouter
		{
			max-width: 400px;
			width:auto;

		}
	}
}